<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="appJson" value="application/json" />
        <add key="appXbinary" value="application/x-binary" />
        <add key="textHtml" value="text/html" />
        <add key="lockMismatch" value="Lock mismatch/Locked by another interface" />
        <add key="notLocked" value="File not locked" />
        <add key="unlockedWithSizeNotZero" value="PutFile on unlocked file with current size != 0" />
        <add key="userId" value="user@policyhub" />
        <add key="urlFormat" value="http://localhost:8080/wopi/files/{0}?access_token={1}" />
        <add key="invalidRegFormat" value="([{0}]*\.+$)|([{0}]+)" />
        <add key="underscore" value="_" />
        <add key="ISO8601DateTimeFormat" value="O" />
    </appSettings>
</configuration>